.vscode
galutinis_balas.exe
galutinis_balas_masyvai.exe
galutinis_balas_masyvai.cpp
todo.txt
rezultatai.txt
studentai1000.txt
studentai10000.txt
studentai100000.txt
studentai1000000.txt
studentai10000000.txt
laikai.txt
headerc.h
galvociai.txt
vargsiukai.txt
main.exe
paly.exe
build/
Doxyfile
vector_test1.cpp
vector_palyginimai.cpp